.notblocked {
  display: block;
}
.blocked {
  display: none;
}
.adblock .notblocked {
  display: none;
}
.adblock .blocked {
  display: block;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

.sourceCode
{
  line-height: 125%;
  font-size: 90%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #ccc;
  margin: 0;
  margin-top: 25px;
  margin-bottom: -5px; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

code {
  font-size: 13px;
}

.center-ad {
    text-align: center;
  float: center;
  overflow-x: hidden;
}

.wrapper {
  width: 90%;
  margin: 0 5%; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: white;
  padding: 0.2em 0; }

.mainMenu {
  border-bottom: 3px solid #a0a0a0;
  margin-bottom: 35px; }

.footer-container, .main aside {
  border-top: 3px solid #a0a0a0; }

.header-container, .footer-container, .mainMenu, .main aside {
  background: white; }

.headerLogos {
  max-width: 100%;
  max-height: 100%; }

.asidePhoto {
  float: right;
  width: 49%; }

.asideText {
  float: left;
  width: 49%; }

.asidePhoto img {
  max-width: 100%;
  max-height: 100%; }

.entryText img {
  max-width: 100%;
  max-height: 100%; }

.pagination ul
{margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;}
.pagination ul li
{
  display: inline-block;
    padding: 0 3px;
    text-align: center;
    background-color: rgb(160, 160, 160);
   
  }

  .pagination ul li a
  { color: white;
    text-decoration: none;

  }

.pageButton { 
  width: 35px;
}

nav ul li {  width: 90px;
      float: left;
      margin: 3px;}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  letter-spacing: 0.09em;
  line-height: 0.8em; 
}

h2 {
  
  color: #555555;
}

body {
  background-color: white;
  color: #191919;
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
  line-height: 1.35em; }

article header, article footer {
  color: #a0a0a0; }
article h1 {
  font-size: 2.3em; }

.title {
  color: #a0a0a0;
  font-weight: normal; }

.ie7 .title {
  padding-top: 20px; }

section {
  padding: 5px 0; }

.entryTitle {
  margin-bottom: -10px; }

.entryText {
  text-align: justify; }

.blogDate {  
    color: #555555;
  font-style: italic;
  font-size: 75%;
  font-weight: normal;
  letter-spacing: 2px;
  }

.blogTag{
  background-color: #a0a0a0;
  color: white;
  margin-right: 4px;
  padding: 2px;
  letter-spacing: 0px;
  font-weight: bold; 
  font-size: 75%;
  }

.blogTag a
{
color: white;
text-decoration: none;
  }

nav ul {
  margin: 0;
  padding: 0; }
nav li {
  background-color: #a0a0a0; }
nav a {
  display: block;
  padding: 1px 0px;
  margin-bottom: 3px;
  text-align: center;
  text-decoration: none;
  font-size: 0.9em;
  color: white;
  letter-spacing: 2px; }

.main {
  padding: 0px 0; }
  .main article {
    margin-top: -20px; }
  .main aside {
    color: #a0a0a0;
    padding: 0px 2%;
    margin-bottom: 25px;
    text-align: right;
    padding: 0 15px;
    padding-bottom: 15px;
    -webkit-box-shadow: 0 1px 5px #aaa;
    -moz-box-shadow: 0 1px 5px #aaa;
    box-shadow: 0 1px 5px #aaa; }
    .main aside p {
      margin: 0; }
  .main .noBorderAside {
    color: #a0a0a0;
    margin-bottom: 25px;
    text-align: right;
    padding-bottom: 15px; }
    .main .noBorderAside p {
      margin: 0; }

.footer-container footer {
  text-align: center;
  background-color: white;
  color: #a0a0a0;
  padding: 1.6% 0;
  letter-spacing: 4px; }

@media only screen and (max-width: 480px) {
  .headerLogos {
    margin-top: 20px;
    margin-bottom: -10px;
    overflow: hidden;
    text-align: center; }
    .headerLogos img {
      max-width: 100%;
      max-height: 100%;
      height: auto; }

  .headerLogoMain {
    float: center; }
    .headerLogoMain img {
      width: 25%;
      height: 25%; }

  .headerTextHeading {
    float: center;
    margin-top: 15px; }

  .mainMenu {
    padding-top: 30px; } }
@media only screen and (min-width: 480px) {
  .headerLogos {
    margin-top: 20px;
    margin-bottom: -10px;
    overflow: hidden; }

  .headerLogoMain {
    float: left; }

  .headerTextHeading {
    float: left;
    padding-left: 10px;
    margin-top: 5px; }

  .mainMenu {
    padding-top: 10px; }

  nav a {
    text-align: center;
    float: center;
    width: 84px;
    padding: 1px 0px;
    margin-bottom: 0; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right; }
    nav ul li {
      display: inline-block;
      padding: 0 3px;

      float: none;
      margin: 0px;}
      }

  .title {
    float: center;
    text-align: center; }

  .oldie nav a {
    margin: 0 0.7%; } }
@media only screen and (max-width: 768px) {
  .main aside {
    text-align: center; } }
@media only screen and (min-width: 768px) {
  .main article {
    width: 64%;
    float: right; }
  .main aside {
    float: left;
    width: 100%;
    text-align: right; }
  .main .asideWrapper {
    width: 29%;
    float: left;
    margin: 0;
    padding: 0; }

  .footer-container {
    margin-top: 15px; } }
@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 1026px;
    margin: 0 auto; } }
.entryMenu {
  margin-top: -17px;
  padding-bottom: 35px;
  width: 100%;
  border-top: 2px solid #a0a0a0; }
  .entryMenu a {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    letter-spacing: 0px;
    font-size: 0.8em; }
  .entryMenu ul {
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    height: 40px;
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left; }
    @media only screen and (min-width: 600px) {
      .entryMenu ul {
        overflow-x: hidden; } }
    .entryMenu ul li {
      text-align: center;
      display: inline-block;
      padding: 0 6px; }

.socialIcon {
  display: inline-block;
  background-color: #a0a0a0;
  margin-top: 5px; }

.socialIconGray {
  background-color: white;
  position: absolute;
  margin-top: -45px;
  opacity: 0; }

.fixedMainMenu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white; }

.bookWrapper {
  padding-top: 20px;
  width: 100%;
  height: 100%;
  background-color: #000; }

.bookPage {
  width: 100%;
  height: 100%;
  margin-right: 20px;
  text-align: center;
  left: 50%;
  right: 50%; }
  .bookPage img {
    padding-bottom: 30px;
    width: 80%;
    height: auto; }


 table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

 table th {
  font-weight: bold;
}

 table th,
 table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

 table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

 table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777;
  margin: 0;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

code {
  border-radius: 3px;
  border: 1px solid #eaeaea;
}

code{white-space: pre;}div.sourceCode { overflow-x: auto; }
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
td.sourceCode { padding-left: 5px; }
code > span.kw { color: #007020; font-weight: bold; } /* Keyword */
code > span.dt { color: #902000; } /* DataType */
code > span.dv { color: #40a070; } /* DecVal */
code > span.bn { color: #40a070; } /* BaseN */
code > span.fl { color: #40a070; } /* Float */
code > span.ch { color: #4070a0; } /* Char */
code > span.st { color: #4070a0; } /* String */
code > span.co { color: #60a0b0; font-style: italic; } /* Comment */
code > span.ot { color: #007020; } /* Other */
code > span.al { color: #ff0000; font-weight: bold; } /* Alert */
code > span.fu { color: #06287e; } /* Function */
code > span.er { color: #ff0000; font-weight: bold; } /* Error */
code > span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
code > span.cn { color: #880000; } /* Constant */
code > span.sc { color: #4070a0; } /* SpecialChar */
code > span.vs { color: #4070a0; } /* VerbatimString */
code > span.ss { color: #bb6688; } /* SpecialString */
code > span.im { } /* Import */
code > span.va { color: #19177c; } /* Variable */
code > span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code > span.op { color: #666666; } /* Operator */
code > span.bu { } /* BuiltIn */
code > span.ex { } /* Extension */
code > span.pp { color: #bc7a00; } /* Preprocessor */
code > span.at { color: #7d9029; } /* Attribute */
code > span.do { color: #ba2121; font-style: italic; } /* Documentation */
code > span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code > span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code > span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */